BOT_TOKEN=your_telegram_bot_token
DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/dbname
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
GROUP_CHAT_ID=your_group_chat_id
BOSS_INVITE_CODE=boss_secret_code
