BOT_TOKEN=your_telegram_bot_token
DATABASE_URL=postgresql+asyncpg://user:pass@host:5432/dbname
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
BOSS_INVITE_CODE=대표_인증코드
STAFF_INVITE_CODE=관리자_초대코드
